/* Encoding */
@charset "UTF-8";

/* import Google Fonts */
/* Noto Sans TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* root設定 */
html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

/* haeder */
header {
	background-color: #FFFFFF;
	color: #2A52BE;
}

.logo_area {
	font-size: 3rem;
	font-weight: bolder;
}

/* 登入||未登入區塊 */
#login-button,
#register-button {
	color: #FFFFFF;
	font-size: 1.3rem;
	font-weight: bolder;
	background-color: #2A52BE;
	box-shadow: 1px 1px 1px black;
}

#login-button:active,
#register-button:active {
	box-shadow: inset 0px 3px 5px rgb(0, 30, 00);
	transform: translateY(2px);
}

.nav_items:hover {
	cursor: pointer;
	color: #2A52BE !important;
}

.avatar_button {
	border-radius: 50%;
	height: 65px;
	width: 65px;
	border: none;
	margin-right: 1rem;
}

.avatar_img {
	border-radius: 50%;
	height: 65px;
	width: 65px;
}

.userId_area {
	color: #2A52BE;
	font-size: 1.3rem;
	font-weight: bolder;
}

/* main區塊 */
.main_div  {
	height: calc(100vh - var(--header-height));
	width: 100%;
	overflow: hidden;
}

.container_div {
	position: relative;
	overflow: scroll;
	height: 100%;
	width: 100%;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

/* 照片輪播區 */
.slideshadow_outter {
	height: 100%;
	width: 100%;
}

.slideshadow_inner {
	height: 100%;
	width: 300%;
	position: relative;
	left: 0px;
	transition: all .3s;

}

.slideshadow_images {
	height: 100%;
	width: 100%;
	flex-shrink: 0;
	object-fit: cover;
}

.left_arrow {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	border-radius: 50%;
	border: none;
	background-color: transparent;
}

.right_arrow {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	top: 50%;
	transform: translateY(-50%);
	right: 5%;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: transparent;
}

.left_arrow:hover,
.right_arrow:hover {
	height: 60px;
	width: 60px;
}

.left_arrow>i,
.right_arrow>i {
	font-size: 50px;
	color: #FFFFFF;
}

.left_arrow:hover>i,
.right_arrow:hover>i {
	font-size: 60px;
}

#login-h1,
#register-h1 {
	color: #2A52BE;
	font-weight: bolder !important;
	font-size: 2rem;
}

.login_form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	background-color: rgba(255, 255, 255, .7);
	border: 2px solid #2A52BE;
	border-radius: 10px;
	backdrop-filter: blur(20px);
	transform: scale(0);
	transition: transform .5s ease;
}

.register_form {
	position: absolute;
	top: 1rem;
	left: 50%;
	height: calc(100vh - var(--header-height) - 40px);
	width: 360px;
	background-color: rgba(255, 255, 255, .7);
	border: 2px solid #2A52BE;
	border-radius: 10px;
	backdrop-filter: blur(20px);
	transform: scale(0);
	transition: transform .5s ease;
	overflow: scroll
}

.login_form {
	text-align: center;
}

.input_div {
	overflow: scroll;
	max-height: calc(100vh - var(--header-height)- 300px);
}

/* 作用於firefox */
.register_form,
.container_div,
.input_div,
.login_form {
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

/* 滾動條的寬度 */
.register_form::-webkit-scrollbar,
.container_div::-webkit-scrollbar,
.input_div::-webkit-scrollbar,
.login_form::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

/* 滾動條背景色 */
.register_form::-webkit-scrollbar-track,
.container_div::-webkit-scrollbar-track,
.input_div::-webkit-scrollbar-track,
.login_form::-webkit-scrollbar-track {
	background-color: transparent;
}

/* 滾動條前景色（滑塊） */
.register_form::-webkit-scrollbar-thumb,
.container_div::-webkit-scrollbar-thumb,
.input_div::-webkit-scrollbar-thumb,
.login_form::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 5px;
}

.login_form.open_loginform {
	transform: translate(-50%, -50%) scale(1);
}

.register_form.open_registerform {
	transform: translateX(-50%) scale(1);
}

.closeicon_div1,
.closeicon_div2 {
	position: fixed;
	top: .1rem;
	right: .1rem;
	font-size: 1.5rem;
	background-color: #FFFFFF;
	height: 2rem;
	width: 2rem;
	text-align: center;
	border-radius: .5rem;
}

.closeicon_div1:hover,
.closeicon_div2:hover {
	cursor: pointer;
	font-size: 1.6rem;
	height: 2.3rem;
	width: 2.3rem;
	background-color: #FFFFFF;
}

.closeicon_div1:active,
.closeicon_div2:active {
	box-shadow: inset 0px 3px 5px rgb(100, 36, 18);
	transform: translateY(2px);
}

.register_info {
	margin: 1rem;
}

.register_form h1 {
	color: #2A52BE;
	text-align: center;
	font-size: rem;
}

.register_form input,
.register_form select {
	margin: 1rem 0;
}

.register_form .checkbox,
.login_form .checkbox {
	color: #2A52BE;
}

.login_form input {
	margin: 1rem 0;
}

.register_form .checkbox {
	margin-top: 1rem;
}

.form-control-dark {
	border-color: var(--bs-gray);
}

.form-control-dark:focus {
	border-color: #fff;
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
	font-size: 85%;
}

.loginsubmit_button,
.registersubmit_button {
	background-color: #FFFFFF;
	color: #2A52BE;
	font-weight: bolder !important;
	box-shadow: 2px 2px 5px rgb(150, 36, 18);
	border: none;
}

.loginsubmit_button:hover,
.registersubmit_button:hover {
	cursor: pointer;
	background-color: #FFFFFF;
	color: #2A52BE;
	transform: translateY(-2px);
	border: none;
}

.loginsubmit_button:active,
.registersubmit_button:active {
	box-shadow: inset 0px 3px 5px rgb(100, 36, 18);
	transform: translateY(2px);
	color: #2A52BE;
	background-color: #FFFFFF !important;
	border: none;
}

/* */
#alert-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 360px;
	background-color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: bolder;
	color: #2A52BE;
	border: 2px solid #2A52BE;
	border-radius: .3rem;
	backdrop-filter: blur(10px);
	transition: transform .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-error-message {
	font-size: 1rem;
	color: red;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.home_div {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 510px) {
	.logo_area {
	font-size: 2rem;
	font-weight: bolder;
}
	
	.nav_conatiner {
		justify-content: space-between;
	}

	.home_div {
		font-size: 3rem;
	}

	.nav_ul {
		position: absolute;
		bottom: 0;
		background-color: #FFFFFF;
		margin-left: 0 !important;
		padding: .5rem;
	}

	.nav_items {
		font-size: 1.1rem;
		font-weight: bolder;
		margin-right: .3rem;
		padding: 0;
	}

	footer {
		display: none;
	}

	#login-h1,
	#register-h1 {
		font-size: 1.5rem;
	}

	.register_form {
		height: calc(100vh - var(--header-height) - 40px);
	}

	.input_div {
		overflow: scroll;
		max-height: calc(100vh - var(--header-height)- 450px);
	}
}

@media screen and (max-height: 421px) {
	.logo_img {
		height: 50px;
		width: 50px;
	}

	.register_form h1 {
		font-size: 1.5rem;
	}

	.registersubmit_button {
		font-size: 1rem;
	}

	.register_form .checkbox {
		margin-top: .5rem 0 .5rem 0;
	}

	.nav_conatiner {
		justify-content: space-between;
	}

	.home_div {
		font-size: 3rem;
	}

	.nav_ul {
		position: absolute;
		bottom: 0;
	}
}